[Unit]
Description=Node Exporter
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
Type=simple
User={{ node_exporter_user }}
Group={{ node_exporter_group }}
ExecStart=/usr/local/bin/node_exporter --web.listen-address=:{{ node_exporter_port }}

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
